---
const prerender = false
import Layout from "../layouts/layout.astro";
import { fetchWrapper } from "../fetch-wrapper";

const faq: FaqSection[] = await fetchWrapper('/faq', { cacheMs: 24 * 60 * 60 * 1000 });

interface FaqItem {
    question: string;
    answer: string;
}

interface FaqSection {
    topic: string;
    items: FaqItem[];
}
---

<Layout>
    <main>
        {
            faq.length === 0 ? (
                <p>No hay preguntas frecuentes por el momento.</p>
            ) : (
                faq.map((section) => (
                    <article>
                        <header>
                            <h2>{section.topic}</h2>
                        </header>
                        <ul>
                            {section.items.map((item) => (
                                <li>
                                    <strong>{item.question}</strong>
                                    <p>{item.answer}</p>
                                </li>
                            ))}
                        </ul>
                    </article>
                ))
            )
        }
    </main>
</Layout>
